@import "tailwindcss";

:root {
  --background: #09090b; /* Deep dark background */
  --card-bg: #18181b; /* Dark gray for cards */
  --accent: #ccff00; /* Neon green/lime */
}

body {
  background-color: var(--background);
  color: white;
}